@import url('./css-reset.css');

:root{
    --first-color : #ffffff;
    --second-color : #f0f0f0;
    --third-color : #114232;
}

@font-face {
    font-family: Morabba-bold;
    src: url('.././fonts/Morabba/woff2/Morabba-Bold.woff2'),
}

@font-face {
    font-family: Dana-medium;
    src: url('.././fonts/Dana/woff2/DanaFaNum-Medium.woff2');
}

body {
    background-color: var(--second-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
}

*,body, html {
    font-family: Morabba-bold;
}

@media screen and (max-width: 600px) {
    .xs-block {
      display: block;
    }
    .xs-hidden {
      display: none;
    }
    .xs-out {
      transform: translateX(250px);
    }
    .xs-full {
      width: 90%;
    }
    .xs-flex {
      display : flex;
      flex-direction: column;
      gap: 16px;
    }
    .xs-w-60 {
      width: 60px;
    }
}
  
@media screen and (min-width: 600px) {
    .s-block {
      display: block;
    }
    .s-hidden {
      display: none;
    }
    .s-out {
      transform: translateX(250px);
    }
    .s-full {
      width: 90%;
    }
    .s-grid {
      display: grid;
      gap: 16px 16px;
      grid-template-columns: 1fr 1fr;
    }
    .s-w-100{
      width: 100px;
    }
    .s-w-70 {
      width: 70px;
    }
}
  
@media screen and (min-width: 768px) {
    .md-block {
        display: block;
    }
    .md-hidden {
        display: none;
    }
}
  
@media screen and (min-width: 992px) {
    .l-block {
      display: block;
    }
    .l-hidden {
      display: none;
    }
    .l-in {
      transform: translateX(0px);
    }
    .l-mr {
      margin-right: 250px;
    }
}