@import url('./css-reset.css');

:root{
    --first-color : #ffffff;
    --second-color : #f0f0f0;
    --third-color : #114232;
}

@font-face {
    font-family: Morabba-bold;
    src: url('.././fonts/Morabba/woff2/Morabba-Bold.woff2'),
}

@font-face {
    font-family: Dana-medium;
    src: url('.././fonts/Dana/woff2/DanaFaNum-Medium.woff2');
}

body {
    background-color: var(--second-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

*,body, html {
    font-family: Morabba-bold;
}