@import url(.././custom.css);
@import url(.././aside.css);
@import url(.././header.css);
@import url(./products.css);
@import url(./comments.css);
@import url(./users.css);
@import url(./orders.css);
@import url(./offs.css);

.active-li {
    background-color: #12372A;
}

.cms-title {
    margin-top: 60px;
    font-size: 18px;
}

.cms-table {
    width: 100%;
    padding: 16px !important;
    margin-top: 20px;
    background-color: var(--first-color);
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #858585; 
}

.cms-table thead {
    width: 100%;
}

.cms-table tbody {
    width: 100%;
}

.cms-table-heading-tr {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #c2c2c2;
}

.cms-table-heading-tr th {
    text-align: center;
}

.cms-table-img {
    width: 100px;
    height: 100px;    
}

.cms-table-tr {
   padding: 16px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.cms-table-tr td {
    font-size: 10px;
    text-align: center;
}

.cms-table-btn {
    width: 60px;
    background-color: var(--third-color);
    color: var(--first-color);
    border: none;
    border-radius: 8px;
    padding: 5px 8px;
    font-size: 10px;
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px #858585; 
}

.cms-table-btn:hover {
    background-color: #12372A;
}

.empty-err {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: brown;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cms-detail-table {
    width: 100%;
}

.cms-detail-table-heading-tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cms-detail-table-tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #efefef;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.active{
    display: flex;
}

.detail-modal {
    width: 300px;
    height: min-content;
    padding: 16px;
    background-color: var(--first-color);
    border-radius: 10px;
}

.delete-modal {
    width: 300px;
    height: min-content;
    padding: 16px;
    background-color: var(--first-color);
    border-radius: 10px;
}

.delete-modal p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.delete-modal-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.delete-modal-btn {
    width: 45%;
    padding: 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 3px 0px #858585;
    color: var(--first-color);
}

.delete-modal-yes-btn{
    background-color: var(--third-color);
}

.delete-modal-yes-btn:hover {
    background-color: #12372A;
}

.delete-modal-no-btn {
    background-color: brown;
}

.delete-modal-no-btn:hover {
    background-color: rgb(128, 34, 34);
}