.comment-table-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

.text-modal , .answer-modal , .update-modal{
    width: 400px;
    background-color: var(--first-color);
    border-radius: 10px;
    padding: 16px;
    line-height: 25px;
    text-align: justify;
    font-size: 14px;
}

.text-modal-btn , .answer-modal-btn , .update-modal-btn{
    width: 100%;
    padding: 8px 10px;
    margin-top: 16px;
    background-color: var(--third-color);
    color: var(--first-color);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px #858585; 
    cursor: pointer;
    transition: all 0.2s ease ;
}

.text-modal-btn:hover , .answer-modal-btn:hover , .update-modal-btn:hover{
    background-color: #12372A;
}

.update-modal textarea , .answer-modal textarea {
    width: 100%;
    overflow-y: hidden;
    text-align: right;
    margin-right: -2.5px;
}
