.add-product-form {
    margin-top: 16px;
    background-color: var(--first-color);
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px 0px #858585; 
}

.add-product-input {
    background-color: var(--second-color);
    padding: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 0px 3px 0px #858585; 
}

.add-product-input i {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-product-input input{
    width: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}

.add-product-btn{
    margin-top: 16px;
    border: none;
    border-radius: 10px;
    background-color: var(--third-color);
    color: var(--first-color);
    padding: 10px;
    cursor: pointer;
    transition: all .2s ease;
    box-shadow: 0px 0px 3px 0px #858585; 
}

.add-product-btn:hover {
    background-color: #12372A;
}

.product-table-tr-fifth-td{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

.update-modal {
    width: 300px;
    height: min-content;
    padding: 16px;
    background-color: var(--first-color);
    border-radius: 10px;
}

.update-modal p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.update-modal-form div {
    margin-bottom: 16px;
}

.update-modal-form button {
    width: 100%;
    background-color: var(--third-color);
    border-radius: 10px;
    padding: 8px 10px;
    color: var(--first-color);
    border: none;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 3px 0px #858585;
    cursor: pointer;
}

.update-modal-form button:hover {
    background-color: #12372A;
}